<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>


            <a href="/">Recipes</a>
        </h2>
        <p>
            Details

        </p>
        <p>Ingredients</p>
    </div>
    <div class="col-md-7">
        <p>
            Description of the Recipes
        </p>
    </div>
</div>