<div class="appcontainer">
    {{#if logged_in}}
    {{> recipelist}}
    




    <div class="appdiv5">
        <h3>What next?</h3>
    </div>


    <div class="appdiv6">
        <p> See caloric intake / Plan weekly meals</p>
    </div>



    {{else}}
    {{/if}}
    <div class="appdiv7 footer">

        <footer> footer info</footer>

    </div>


</div>